.wrap-content {
  margin-left: 200px;
  .wrap-inner {
    padding: 2em;
    .head-content {
      margin-bottom: 1em;
      overflow: hidden;
      h2 {
        display: inline-block;
        font-family: 'M+ Regular', sans-serif;
        font-size: 1.5em;
        font-weight: normal;
        margin-top: .3em;
        vertical-align: top;
      }
      .action {
        display: inline-block;
        float:right;
        vertical-align: top;
      }
    }
    .menu-inner {
      padding: 1em 0;
      border-bottom: 1px solid $border--color;
      border-top: 1px solid $border--color;
      margin-top: 2em;
      ul {
        li {
          display: inline-block;
          padding: 0 .5em;
          margin-right: .5em;
          vertical-align: top;
          a {
            color: $black-alt--color;
          }
        }
      }
    }
  }
}