<section class="vehiclesPage">
  <div class="head-content">
    <h2>Promos</h2>
    <div class="action">
      <button class="button button-green" id="show-form">Create new promo</button>
    </div>
  </div>

  <div class="vehiclesContainer">
    <%= react_component 'Promos', data: @promos %>
  </div>
</section>