<section class="vehiclesPage">
  <div class="head-content">
    <h2>Dealers</h2>
    <div class="action">
      <button class="button button-green" id="show-form">Create new dealer</button>
    </div>
    <%= react_component 'Dealers', data: @dealers %>
  </div>
</section>