<section class="vehiclesPage">
  <div class="head-content">
    <h2>Vehicles</h2>
    <div class="action">
      <button class="button button-green" id="show-form">Create new vehicle</button>
    </div>
    <div class="menu-inner">
      <ul>
        <li class="list-inner">
          <a href="">Deals</a>
        </li>
        <li class="list-inner">
          <a href="">Highlights</a>
        </li>
        <li class="list-inner">
          <a href="">Data Sheet</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="vehiclesContainer">
    <%= react_component 'Vehicles', data: @vehicles %>
  </div>
</section>