.container {
  margin: 0 auto;
  max-width: 1170px;
}

.form-hide {
  display: none;
}

/* Text Colors */
.text-orange {
  color: $orange-main--color;
}
.text-white {
  color: white;
}

/* Buttons */
.button {
  border: 0;
  @include border-radius(.5em);
  color: white;
  cursor: pointer;
  font-family: 'M+ Medium', sans-serif;
  font-size: 1em;
  padding: .75em;
}

.button-green {
  background: $green-main--color;
}

.button-orange {
  background: $orange-main--color;
}

/* Titles */
.dash-uppercase-title {
  text-transform: uppercase;
}

.hero-title {
  font-size: 2em;
}

.sec-title {
  font-size: 1.5em;
}

/*  Tables */
.table {
  border:0;
  border-spacing: 0;
  font-size: .95em;
  text-align: left;
  width: 100%;
  tr {
    th {
      background: white;
      font-family: 'M+ Light', sans-serif;
      padding: 1.5em 1em;
    }
    td {
      padding: 1em;
    }
    &:nth-child(odd) {
      background-color: #eeeeee;
    }
  }
}