$black-main--color: #323232 ;
$black-sec--color: #202020;
$black-alt--color: #B5BCC0;
$blue-main--color: #0A406C;
$blue-sec--color: #2B80B6;

$border--color: #E8E9EA;

$icon-over-black--color: #A3A3A3;
$text-over-black--color: #CECECE;

$green-main--color: #4BC800;
$soft-blue--color: #A5C0D5;
$orange-main--color: #F18F00;