.homeHeader {
  background: $blue-main--color;
  min-height: 55px;
  .container {
    .logoContainer {
      display: inline-block;
      float: left;
      margin-top: .75em;
      vertical-align: top;
      .logoWhite {
        a {
          color: white;
        }
      }
    }
    .menuContainer {
      display: inline-block;
      float: right;
      margin-top: .75em;
      vertical-align: top;
      .menu {
        .menuList {
          .menuItem {
            display: inline-block;
            margin: .5em;
            vertical-align: top;
          }
        }
      }
    }
  }
}