#main-banner-carousel {
  .item {
    position: relative;
    width: 100%;
    img {
      @include box-shadow(1px, 0, 40px, 0, rgba(0,0,0, 0.8) inset);
      display: block;
      height: auto;
      width: 100%;
    }
    .main-info {
      color: white;
      left: 0;
      position: absolute;
      right: 0;
      top: 35%;
      z-index: 1000;
    }
  }
  .owl-controls {
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
  }
}